### Lab 4 Anomaly Detection 2

In this lab, you will continue working with detecting anomalies in high dimensional data. You will use basic Python libraries and the PyOD (https://pyod.readthedocs.io/en/latest/) libaray for detecting anomalies. Save your notebook with your name.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
pd.set_option("display.max_columns",100)

## Data overview

This dataset contains information on energy usage for different homes over a period of time. The data was collected by a wireless sensor installed in each of the homes. There are 30 features and 19735 data points.

In [2]:
energy_data= pd.read_csv('energy_usage.csv')
energy_data

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,T6,RH_6,T7,RH_7,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2,Usage_level
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,17.166667,55.200000,7.026667,84.256667,17.200000,41.626667,18.2000,48.900000,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433,0
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,17.166667,55.200000,6.833333,84.063333,17.200000,41.560000,18.2000,48.863333,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195,0
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,17.166667,55.090000,6.560000,83.156667,17.200000,41.433333,18.2000,48.730000,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668,0
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,17.166667,55.090000,6.433333,83.423333,17.133333,41.290000,18.1000,48.590000,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389,0
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,17.200000,55.090000,6.366667,84.893333,17.200000,41.230000,18.1000,48.590000,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,23.200000,52.400000,24.796667,1.000000,24.500000,44.500000,24.7000,50.074000,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812,0
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,23.230000,52.326667,24.196667,1.000000,24.557143,44.414286,24.7000,49.790000,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940,0
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,23.230000,52.266667,23.626667,1.000000,24.540000,44.400000,24.7000,49.660000,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117,0
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,23.200000,52.200000,22.433333,1.000000,24.500000,44.295714,24.6625,49.518750,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784,0
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,23.200000,52.200000,21.026667,1.000000,24.500000,44.054000,24.7360,49.736000,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851,0

In [3]:
energy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 30 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
 29  Usage_level  19735 non-null  int64
dtypes: float64(26), int64(3), object(1)
memory usage: 4.5+ MB

<div class='alert alert-block alert-warning' style="font-weight:bolder">
 
 ### Data Preparation

</div>

<div class='alert alert-block alert-success' style="font-weight:bolder">

### Task 1

### 1a: Remove the 'date' feature from the dataset 
### 1b: Implement feature-wise normalization with min-max normalization on all the features except 'usage_level'
### 1c: Divide your normalized dataset into training and testing sets    

 
Note: The feature 'usage_level' is the label


</div>

In [4]:
#Please implement task 1a here

In [5]:
#Please implement task 1b here

In [6]:
#Please implement task 1c here

<div class='alert alert-block alert-warning' style="font-weight:bolder">
 
 ### Principal Component Analysis

</div>

<div class='alert alert-block alert-success' style="font-weight:bolder">

### Task 2

### 2a: Determine the optimal number of principal components to keep for your data
### 2b: Implement PCA as an anomaly detection technique with the optimal number of principal components from task 2a. 
    
### 2c: Calculate, precision, recall and plot the precision-recall curve, calulate AUC. Give a comment on what you see in the curve wrt. Area Under the Curve (AUC)

Note: use the normalized data from Task 1

</div>

In [7]:
#Please implement task 2a here

In [8]:
#Please implement task 2b here

In [9]:
#Please implement task 2c here

<div class='alert alert-block alert-warning' style="font-weight:bolder">
 
 ### Autoencoder

</div>

<div class='alert alert-block alert-success' style="font-weight:bolder">

### Task 3

### 3a: Implement an autoencoder from the PyOD library on the dataset. 
### 3b: Calculate, precision, recall and plot the precision-recall curve, calulate AUC. Give a comment on what you see in the curve wrt. Area Under the Curve (AUC)


</div>

In [10]:
# Implement Task 3a here

In [11]:
# Implement Task 3b here

<div class='alert alert-block alert-warning' style="font-weight:bolder">
 
 ### Angle-based Outlier Detection

</div>

<div class='alert alert-block alert-success' style="font-weight:bolder">

### Task 4

### 4a:Implement ABOD from PyOD on the dataset. 
### 4b: Calculate, precision, recall and plot the precision-recall curve, calulate AUC. Give a comment on what you see in the curve wrt. Area Under the Curve (AUC)



</div>

In [12]:
# Implement Task 4a here

In [13]:
# Implement Task 4b here

<div class='alert alert-block alert-warning' style="font-weight:bolder">
 
 ### Isolation Forests

</div>

<div class='alert alert-block alert-success' style="font-weight:bolder">

### Task 5

### 5a:Implement an Isolation Forest from PyOD on the dataset. 
    
### 5b:Calculate, precision, recall and plot the precision-recall curve, calulate AUC. Give a comment on what you see in the curve wrt. Area Under the Curve (AUC)



</div>

In [14]:
# Implement Task 5a here

In [15]:
# Implement Task 5b here

<div class='alert alert-block alert-warning' style="font-weight:bolder">
 
 ### Feature Bagging
    

</div>

<div class='alert alert-block alert-success' style="font-weight:bolder">

### Task 6

### 6a:Implement Feature Bagging from PyOD on the dataset. 
    
### 6b:Calculate, precision, recall and plot the precision-recall curve, calulate AUC. Give a comment on what you see in the curve wrt. Area Under the Curve (AUC)



</div>

In [16]:
# Implement Task 6a here

In [17]:
# Implement Task 6b

<div class='alert alert-block alert-success' style="font-weight:bolder">

### Task 7

### Compare the scores from the implemented methods. Which one performed better. Why do you think this is the case?


</div>

### Please write your answer here