## Lab 1 Exploring datasets

In this lab, you will be working with exploring a datasets

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
pd.set_option("display.max_columns",100)
import warnings
warnings.simplefilter('ignore')

## Data overview

This dataset contains information from a census carried out on a population of adults. A description of the features is given below.

- age: the age of the participant.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, -Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: number of years of education
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: how many hours worked per week
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

### Load data

In [2]:
filepath = './coffee_stats.csv'
data = pd.read_csv(filepath, index_col=False)
data.columns = data.columns.str.lower()
data = data.drop(columns=data.columns[0])

In [3]:
data.head()

,species,owner,country.of.origin,farm.name,lot.number,mill,ico.number,company,altitude,region,producer,number.of.bags,bag.weight,in.country.partner,harvest.year,grading.date,owner.1,variety,processing.method,aroma,flavor,aftertaste,acidity,body,balance,uniformity,clean.cup,sweetness,cupper.points,total.cup.points,moisture,category.one.defects,quakers,color,category.two.defects,expiration,certification.body,certification.address,certification.contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,NaN,Washed / Wet,8.67,8.83,8.67,8.75,8.50,8.42,10.0,10.0,10.0,8.75,90.58,0.12,0,0.0,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,Other,Washed / Wet,8.75,8.67,8.50,8.58,8.42,8.42,10.0,10.0,10.0,8.58,89.92,0.12,0,0.0,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,NaN,NaN,5,1,Specialty Coffee Association,NaN,"May 31st, 2010",Grounds for Health Admin,Bourbon,NaN,8.42,8.50,8.42,8.42,8.33,8.42,10.0,10.0,10.0,9.25,89.75,0.00,0,0.0,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,oromia,Yidnekachew Dabessa Coffee Plantation,320,60 kg,METAD Agricultural Development plc,2014,"March 26th, 2015",Yidnekachew Dabessa,NaN,Natural / Dry,8.17,8.58,8.42,8.42,8.50,8.25,10.0,10.0,10.0,8.67,89.00,0.11,0,0.0,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,Other,Washed / Wet,8.25,8.50,8.25,8.50,8.42,8.33,10.0,10.0,10.0,8.58,88.83,0.12,0,0.0,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0

In [4]:
data.describe()

,number.of.bags,aroma,flavor,aftertaste,acidity,body,balance,uniformity,clean.cup,sweetness,cupper.points,total.cup.points,moisture,category.one.defects,quakers,category.two.defects,altitude_low_meters,altitude_high_meters,altitude_mean_meters
count,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1338.000000,1339.000000,1109.000000,1109.000000,1109.000000
mean,154.182972,7.566706,7.520426,7.401083,7.535706,7.517498,7.518013,9.834877,9.835108,9.856692,7.503376,82.089851,0.088379,0.479462,0.173393,3.556385,1750.713315,1799.347775,1775.030545
std,129.987162,0.377560,0.398442,0.404463,0.379827,0.370064,0.408943,0.554591,0.763946,0.616102,0.473464,3.500575,0.048287,2.549683,0.832121,5.312541,8669.440545,8668.805771,8668.626080
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,14.000000,7.420000,7.330000,7.250000,7.330000,7.330000,7.330000,10.000000,10.000000,10.000000,7.250000,81.080000,0.090000,0.000000,0.000000,0.000000,1100.000000,1100.000000,1100.000000
50%,175.000000,7.580000,7.580000,7.420000,7.580000,7.500000,7.500000,10.000000,10.000000,10.000000,7.500000,82.500000,0.110000,0.000000,0.000000,2.000000,1310.640000,1350.000000,1310.640000
75%,275.000000,7.750000,7.750000,7.580000,7.750000,7.670000,7.750000,10.000000,10.000000,10.000000,7.750000,83.670000,0.120000,0.000000,0.000000,4.000000,1600.000000,1650.000000,1600.000000
max,1062.000000,8.750000,8.830000,8.670000,8.750000,8.580000,8.750000,10.000000,10.000000,10.000000,10.000000,90.580000,0.280000,63.000000,11.000000,55.000000,190164.000000,190164.000000,190164.000000

In [5]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1339 entries, 0 to 1338
Data columns (total 43 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   species                1339 non-null   object
 1   owner                  1332 non-null   object
 2   country.of.origin      1338 non-null   object
 3   farm.name              980 non-null    object
 4   lot.number             276 non-null    object
 5   mill                   1021 non-null   object
 6   ico.number             1182 non-null   object
 7   company                1130 non-null   object
 8   altitude               1113 non-null   object
 9   region                 1280 non-null   object
 10  producer               1107 non-null   object
 11  number.of.bags         1339 non-null   int64
 12  bag.weight             1339 non-null   object
 13  in.country.partner     1339 non-null   object
 14  harvest.year           1292 non-null   object
 15  grading.date           1339 non-null   object
 16  owner.1                1332 non-null   object
 17  variety                1113 non-null   object
 18  processing.method      1169 non-null   object
 19  aroma                  1339 non-null   float64
 20  flavor                 1339 non-null   float64
 21  aftertaste             1339 non-null   float64
 22  acidity                1339 non-null   float64
 23  body                   1339 non-null   float64
 24  balance                1339 non-null   float64
 25  uniformity             1339 non-null   float64
 26  clean.cup              1339 non-null   float64
 27  sweetness              1339 non-null   float64
 28  cupper.points          1339 non-null   float64
 29  total.cup.points       1339 non-null   float64
 30  moisture               1339 non-null   float64
 31  category.one.defects   1339 non-null   int64
 32  quakers                1338 non-null   float64
 33  color                  1121 non-null   object
 34  category.two.defects   1339 non-null   int64
 35  expiration             1339 non-null   object
 36  certification.body     1339 non-null   object
 37  certification.address  1339 non-null   object
 38  certification.contact  1339 non-null   object
 39  unit_of_measurement    1339 non-null   object
 40  altitude_low_meters    1109 non-null   float64
 41  altitude_high_meters   1109 non-null   float64
 42  altitude_mean_meters   1109 non-null   float64
dtypes: float64(16), int64(3), object(24)
memory usage: 449.9+ KB


<div class='alert alert-block alert-warning' style='font-size:150%'>
    
### Data Cleaning

</div>

In [6]:
data.apply(lambda x: sum(x.isnull()), axis=0)

species                     0
owner                       7
country.of.origin           1
farm.name                 359
lot.number               1063
mill                      318
ico.number                157
company                   209
altitude                  226
region                     59
producer                  232
number.of.bags              0
bag.weight                  0
in.country.partner          0
harvest.year               47
grading.date                0
owner.1                     7
variety                   226
processing.method         170
aroma                       0
flavor                      0
aftertaste                  0
acidity                     0
body                        0
balance                     0
uniformity                  0
clean.cup                   0
sweetness                   0
cupper.points               0
total.cup.points            0
moisture                    0
category.one.defects        0
quakers                     1
color                     218
category.two.defects        0
expiration                  0
certification.body          0
certification.address       0
certification.contact       0
unit_of_measurement         0
altitude_low_meters       230
altitude_high_meters      230
altitude_mean_meters      230
dtype: int64

<div class='alert alert-block alert-success' style="font-weight:bolder">

### Task 1

### Identify whether the dataset contains an missing values. 
    
### Handle any missing values that exist
    

</div>

In [7]:
# please implement task 1 here

<div class='alert alert-block alert-success' style="font-weight:bolder">

### Task 2

### Identify whether the dataset contains any duplicates. 
    
    

</div>

In [ ]:
# please implement task 2 here

<div class='alert alert-block alert-warning' style='font-size:150%'>

### Data Transformation


</div>

<div class='alert alert-block alert-success' style="font-weight:bolder">

### Task 3

### There are various way of encoding categorical columns. In the case below we're using label encoding 
<https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html>.
- Find out other ways of encoding categorical columns, like one hot encoding - which one works better on this case.

</div>

In [ ]:
# please implement task 3 here

<div class='alert alert-block alert-success' style="font-weight:bolder">

### Task 4
    
### Feature Scaling


</div>

In [ ]:
# please implement task 4 here

<div class='alert alert-block alert-success' style="font-weight:bolder">

### Task 5
    
### Feature Engineering


</div>

In [ ]:
# please implement task 5 here

<div class='alert alert-block alert-warning' style='font-size:150%'>

### Data Reduction


</div>

<div class='alert alert-block alert-success' style="font-weight:bolder">

### Task 4

### 4a - Plot boxplot for 'default' and 'bill_mnt' for all months

### 4b - Plot boxplot for 'default' and difference between 'bill_mnt_n' and 'pay_mnt_(n-1)' for all months

</div>

In [ ]:
# please implement task 6 here

<div class='alert alert-block alert-success' style="font-weight:bolder">

### Task 5

### Check 3d scatter plot for interesting patterns with different combination of features

</div>

In [ ]:
# please implement task 5 here